extends layout
block content
  form(method="POST" action="/")
    div.form-group
      label(for='name') Name
      input.form-control(type='text' name='name' placeholder='Enter name')
      label(for='text') Your message
      textarea.form-control(name='message')
      button.btn.btn-primary(type='submit') Add